body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f4f4f4;
		font-size: 18px;
}
.error {
		line-height: 1.6;
		margin: 20px;
		border: dotted 2px #ff0000;
		color: red;
		border-radius: 5px;
		padding: 15px;
}
.success {
		line-height: 1.6;
		margin: 20px;
		border: dotted 1px #ccc;
		color: green;
}